// Variables
// --------------------------

$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: 0.4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
	@return unquote("\"#{ $fa-var }\"");
}

@function unicode($str) {
	@return unquote(str-insert($str, "\\", 1));
}


$fa-var-500px: unicode(f26e);
$fa-var-accessible-icon: unicode(f368);
$fa-var-accusoft: unicode(f369);
$fa-var-acquisitions-incorporated: unicode(f6af);
$fa-var-ad: unicode(f641);
$fa-var-address-book: unicode(f2b9);
$fa-var-address-card: unicode(f2bb);
$fa-var-adjust: unicode(f042);
$fa-var-adn: unicode(f170);
$fa-var-adversal: unicode(f36a);
$fa-var-affiliatetheme: unicode(f36b);
$fa-var-air-freshener: unicode(f5d0);
$fa-var-airbnb: unicode(f834);
$fa-var-algolia: unicode(f36c);
$fa-var-align-center: unicode(f037);
$fa-var-align-justify: unicode(f039);
$fa-var-align-left: unicode(f036);
$fa-var-align-right: unicode(f038);
$fa-var-alipay: unicode(f642);
$fa-var-allergies: unicode(f461);
$fa-var-amazon: unicode(f270);
$fa-var-amazon-pay: unicode(f42c);
$fa-var-ambulance: unicode(f0f9);
$fa-var-american-sign-language-interpreting: unicode(f2a3);
$fa-var-amilia: unicode(f36d);
$fa-var-anchor: unicode(f13d);
$fa-var-android: unicode(f17b);
$fa-var-angellist: unicode(f209);
$fa-var-angle-double-down: unicode(f103);
$fa-var-angle-double-left: unicode(f100);
$fa-var-angle-double-right: unicode(f101);
$fa-var-angle-double-up: unicode(f102);
$fa-var-angle-down: unicode(f107);
$fa-var-angle-left: unicode(f104);
$fa-var-angle-right: unicode(f105);
$fa-var-angle-up: unicode(f106);
$fa-var-angry: unicode(f556);
$fa-var-angrycreative: unicode(f36e);
$fa-var-angular: unicode(f420);
$fa-var-ankh: unicode(f644);
$fa-var-app-store: unicode(f36f);
$fa-var-app-store-ios: unicode(f370);
$fa-var-apper: unicode(f371);
$fa-var-apple: unicode(f179);
$fa-var-apple-alt: unicode(f5d1);
$fa-var-apple-pay: unicode(f415);
$fa-var-archive: unicode(f187);
$fa-var-archway: unicode(f557);
$fa-var-arrow-alt-circle-down: unicode(f358);
$fa-var-arrow-alt-circle-left: unicode(f359);
$fa-var-arrow-alt-circle-right: unicode(f35a);
$fa-var-arrow-alt-circle-up: unicode(f35b);
$fa-var-arrow-circle-down: unicode(f0ab);
$fa-var-arrow-circle-left: unicode(f0a8);
$fa-var-arrow-circle-right: unicode(f0a9);
$fa-var-arrow-circle-up: unicode(f0aa);
$fa-var-arrow-down: unicode(f063);
$fa-var-arrow-left: unicode(f060);
$fa-var-arrow-right: unicode(f061);
$fa-var-arrow-up: unicode(f062);
$fa-var-arrows-alt: unicode(f0b2);
$fa-var-arrows-alt-h: unicode(f337);
$fa-var-arrows-alt-v: unicode(f338);
$fa-var-artstation: unicode(f77a);
$fa-var-assistive-listening-systems: unicode(f2a2);
$fa-var-asterisk: unicode(f069);
$fa-var-asymmetrik: unicode(f372);
$fa-var-at: unicode(f1fa);
$fa-var-atlas: unicode(f558);
$fa-var-atlassian: unicode(f77b);
$fa-var-atom: unicode(f5d2);
$fa-var-audible: unicode(f373);
$fa-var-audio-description: unicode(f29e);
$fa-var-autoprefixer: unicode(f41c);
$fa-var-avianex: unicode(f374);
$fa-var-aviato: unicode(f421);
$fa-var-award: unicode(f559);
$fa-var-aws: unicode(f375);
$fa-var-baby: unicode(f77c);
$fa-var-baby-carriage: unicode(f77d);
$fa-var-backspace: unicode(f55a);
$fa-var-backward: unicode(f04a);
$fa-var-bacon: unicode(f7e5);
$fa-var-bacteria: \e059;
$fa-var-bacterium: \e05a;
$fa-var-bahai: unicode(f666);
$fa-var-balance-scale: unicode(f24e);
$fa-var-balance-scale-left: unicode(f515);
$fa-var-balance-scale-right: unicode(f516);
$fa-var-ban: unicode(f05e);
$fa-var-band-aid: unicode(f462);
$fa-var-bandcamp: unicode(f2d5);
$fa-var-barcode: unicode(f02a);
$fa-var-bars: unicode(f0c9);
$fa-var-baseball-ball: unicode(f433);
$fa-var-basketball-ball: unicode(f434);
$fa-var-bath: unicode(f2cd);
$fa-var-battery-empty: unicode(f244);
$fa-var-battery-full: unicode(f240);
$fa-var-battery-half: unicode(f242);
$fa-var-battery-quarter: unicode(f243);
$fa-var-battery-three-quarters: unicode(f241);
$fa-var-battle-net: unicode(f835);
$fa-var-bed: unicode(f236);
$fa-var-beer: unicode(f0fc);
$fa-var-behance: unicode(f1b4);
$fa-var-behance-square: unicode(f1b5);
$fa-var-bell: unicode(f0f3);
$fa-var-bell-slash: unicode(f1f6);
$fa-var-bezier-curve: unicode(f55b);
$fa-var-bible: unicode(f647);
$fa-var-bicycle: unicode(f206);
$fa-var-biking: unicode(f84a);
$fa-var-bimobject: unicode(f378);
$fa-var-binoculars: unicode(f1e5);
$fa-var-biohazard: unicode(f780);
$fa-var-birthday-cake: unicode(f1fd);
$fa-var-bitbucket: unicode(f171);
$fa-var-bitcoin: unicode(f379);
$fa-var-bity: unicode(f37a);
$fa-var-black-tie: unicode(f27e);
$fa-var-blackberry: unicode(f37b);
$fa-var-blender: unicode(f517);
$fa-var-blender-phone: unicode(f6b6);
$fa-var-blind: unicode(f29d);
$fa-var-blog: unicode(f781);
$fa-var-blogger: unicode(f37c);
$fa-var-blogger-b: unicode(f37d);
$fa-var-bluetooth: unicode(f293);
$fa-var-bluetooth-b: unicode(f294);
$fa-var-bold: unicode(f032);
$fa-var-bolt: unicode(f0e7);
$fa-var-bomb: unicode(f1e2);
$fa-var-bone: unicode(f5d7);
$fa-var-bong: unicode(f55c);
$fa-var-book: unicode(f02d);
$fa-var-book-dead: unicode(f6b7);
$fa-var-book-medical: unicode(f7e6);
$fa-var-book-open: unicode(f518);
$fa-var-book-reader: unicode(f5da);
$fa-var-bookmark: unicode(f02e);
$fa-var-bootstrap: unicode(f836);
$fa-var-border-all: unicode(f84c);
$fa-var-border-none: unicode(f850);
$fa-var-border-style: unicode(f853);
$fa-var-bowling-ball: unicode(f436);
$fa-var-box: unicode(f466);
$fa-var-box-open: unicode(f49e);
$fa-var-box-tissue: \e05b;
$fa-var-boxes: unicode(f468);
$fa-var-braille: unicode(f2a1);
$fa-var-brain: unicode(f5dc);
$fa-var-bread-slice: unicode(f7ec);
$fa-var-briefcase: unicode(f0b1);
$fa-var-briefcase-medical: unicode(f469);
$fa-var-broadcast-tower: unicode(f519);
$fa-var-broom: unicode(f51a);
$fa-var-brush: unicode(f55d);
$fa-var-btc: unicode(f15a);
$fa-var-buffer: unicode(f837);
$fa-var-bug: unicode(f188);
$fa-var-building: unicode(f1ad);
$fa-var-bullhorn: unicode(f0a1);
$fa-var-bullseye: unicode(f140);
$fa-var-burn: unicode(f46a);
$fa-var-buromobelexperte: unicode(f37f);
$fa-var-bus: unicode(f207);
$fa-var-bus-alt: unicode(f55e);
$fa-var-business-time: unicode(f64a);
$fa-var-buy-n-large: unicode(f8a6);
$fa-var-buysellads: unicode(f20d);
$fa-var-calculator: unicode(f1ec);
$fa-var-calendar: unicode(f133);
$fa-var-calendar-alt: unicode(f073);
$fa-var-calendar-check: unicode(f274);
$fa-var-calendar-day: unicode(f783);
$fa-var-calendar-minus: unicode(f272);
$fa-var-calendar-plus: unicode(f271);
$fa-var-calendar-times: unicode(f273);
$fa-var-calendar-week: unicode(f784);
$fa-var-camera: unicode(f030);
$fa-var-camera-retro: unicode(f083);
$fa-var-campground: unicode(f6bb);
$fa-var-canadian-maple-leaf: unicode(f785);
$fa-var-candy-cane: unicode(f786);
$fa-var-cannabis: unicode(f55f);
$fa-var-capsules: unicode(f46b);
$fa-var-car: unicode(f1b9);
$fa-var-car-alt: unicode(f5de);
$fa-var-car-battery: unicode(f5df);
$fa-var-car-crash: unicode(f5e1);
$fa-var-car-side: unicode(f5e4);
$fa-var-caravan: unicode(f8ff);
$fa-var-caret-down: unicode(f0d7);
$fa-var-caret-left: unicode(f0d9);
$fa-var-caret-right: unicode(f0da);
$fa-var-caret-square-down: unicode(f150);
$fa-var-caret-square-left: unicode(f191);
$fa-var-caret-square-right: unicode(f152);
$fa-var-caret-square-up: unicode(f151);
$fa-var-caret-up: unicode(f0d8);
$fa-var-carrot: unicode(f787);
$fa-var-cart-arrow-down: unicode(f218);
$fa-var-cart-plus: unicode(f217);
$fa-var-cash-register: unicode(f788);
$fa-var-cat: unicode(f6be);
$fa-var-cc-amazon-pay: unicode(f42d);
$fa-var-cc-amex: unicode(f1f3);
$fa-var-cc-apple-pay: unicode(f416);
$fa-var-cc-diners-club: unicode(f24c);
$fa-var-cc-discover: unicode(f1f2);
$fa-var-cc-jcb: unicode(f24b);
$fa-var-cc-mastercard: unicode(f1f1);
$fa-var-cc-paypal: unicode(f1f4);
$fa-var-cc-stripe: unicode(f1f5);
$fa-var-cc-visa: unicode(f1f0);
$fa-var-centercode: unicode(f380);
$fa-var-centos: unicode(f789);
$fa-var-certificate: unicode(f0a3);
$fa-var-chair: unicode(f6c0);
$fa-var-chalkboard: unicode(f51b);
$fa-var-chalkboard-teacher: unicode(f51c);
$fa-var-charging-station: unicode(f5e7);
$fa-var-chart-area: unicode(f1fe);
$fa-var-chart-bar: unicode(f080);
$fa-var-chart-line: unicode(f201);
$fa-var-chart-pie: unicode(f200);
$fa-var-check: unicode(f00c);
$fa-var-check-circle: unicode(f058);
$fa-var-check-double: unicode(f560);
$fa-var-check-square: unicode(f14a);
$fa-var-cheese: unicode(f7ef);
$fa-var-chess: unicode(f439);
$fa-var-chess-bishop: unicode(f43a);
$fa-var-chess-board: unicode(f43c);
$fa-var-chess-king: unicode(f43f);
$fa-var-chess-knight: unicode(f441);
$fa-var-chess-pawn: unicode(f443);
$fa-var-chess-queen: unicode(f445);
$fa-var-chess-rook: unicode(f447);
$fa-var-chevron-circle-down: unicode(f13a);
$fa-var-chevron-circle-left: unicode(f137);
$fa-var-chevron-circle-right: unicode(f138);
$fa-var-chevron-circle-up: unicode(f139);
$fa-var-chevron-down: unicode(f078);
$fa-var-chevron-left: unicode(f053);
$fa-var-chevron-right: unicode(f054);
$fa-var-chevron-up: unicode(f077);
$fa-var-child: unicode(f1ae);
$fa-var-chrome: unicode(f268);
$fa-var-chromecast: unicode(f838);
$fa-var-church: unicode(f51d);
$fa-var-circle: unicode(f111);
$fa-var-circle-notch: unicode(f1ce);
$fa-var-city: unicode(f64f);
$fa-var-clinic-medical: unicode(f7f2);
$fa-var-clipboard: unicode(f328);
$fa-var-clipboard-check: unicode(f46c);
$fa-var-clipboard-list: unicode(f46d);
$fa-var-clock: unicode(f017);
$fa-var-clone: unicode(f24d);
$fa-var-closed-captioning: unicode(f20a);
$fa-var-cloud: unicode(f0c2);
$fa-var-cloud-download-alt: unicode(f381);
$fa-var-cloud-meatball: unicode(f73b);
$fa-var-cloud-moon: unicode(f6c3);
$fa-var-cloud-moon-rain: unicode(f73c);
$fa-var-cloud-rain: unicode(f73d);
$fa-var-cloud-showers-heavy: unicode(f740);
$fa-var-cloud-sun: unicode(f6c4);
$fa-var-cloud-sun-rain: unicode(f743);
$fa-var-cloud-upload-alt: unicode(f382);
$fa-var-cloudflare: \e07d;
$fa-var-cloudscale: unicode(f383);
$fa-var-cloudsmith: unicode(f384);
$fa-var-cloudversify: unicode(f385);
$fa-var-cocktail: unicode(f561);
$fa-var-code: unicode(f121);
$fa-var-code-branch: unicode(f126);
$fa-var-codepen: unicode(f1cb);
$fa-var-codiepie: unicode(f284);
$fa-var-coffee: unicode(f0f4);
$fa-var-cog: unicode(f013);
$fa-var-cogs: unicode(f085);
$fa-var-coins: unicode(f51e);
$fa-var-columns: unicode(f0db);
$fa-var-comment: unicode(f075);
$fa-var-comment-alt: unicode(f27a);
$fa-var-comment-dollar: unicode(f651);
$fa-var-comment-dots: unicode(f4ad);
$fa-var-comment-medical: unicode(f7f5);
$fa-var-comment-slash: unicode(f4b3);
$fa-var-comments: unicode(f086);
$fa-var-comments-dollar: unicode(f653);
$fa-var-compact-disc: unicode(f51f);
$fa-var-compass: unicode(f14e);
$fa-var-compress: unicode(f066);
$fa-var-compress-alt: unicode(f422);
$fa-var-compress-arrows-alt: unicode(f78c);
$fa-var-concierge-bell: unicode(f562);
$fa-var-confluence: unicode(f78d);
$fa-var-connectdevelop: unicode(f20e);
$fa-var-contao: unicode(f26d);
$fa-var-cookie: unicode(f563);
$fa-var-cookie-bite: unicode(f564);
$fa-var-copy: unicode(f0c5);
$fa-var-copyright: unicode(f1f9);
$fa-var-cotton-bureau: unicode(f89e);
$fa-var-couch: unicode(f4b8);
$fa-var-cpanel: unicode(f388);
$fa-var-creative-commons: unicode(f25e);
$fa-var-creative-commons-by: unicode(f4e7);
$fa-var-creative-commons-nc: unicode(f4e8);
$fa-var-creative-commons-nc-eu: unicode(f4e9);
$fa-var-creative-commons-nc-jp: unicode(f4ea);
$fa-var-creative-commons-nd: unicode(f4eb);
$fa-var-creative-commons-pd: unicode(f4ec);
$fa-var-creative-commons-pd-alt: unicode(f4ed);
$fa-var-creative-commons-remix: unicode(f4ee);
$fa-var-creative-commons-sa: unicode(f4ef);
$fa-var-creative-commons-sampling: unicode(f4f0);
$fa-var-creative-commons-sampling-plus: unicode(f4f1);
$fa-var-creative-commons-share: unicode(f4f2);
$fa-var-creative-commons-zero: unicode(f4f3);
$fa-var-credit-card: unicode(f09d);
$fa-var-critical-role: unicode(f6c9);
$fa-var-crop: unicode(f125);
$fa-var-crop-alt: unicode(f565);
$fa-var-cross: unicode(f654);
$fa-var-crosshairs: unicode(f05b);
$fa-var-crow: unicode(f520);
$fa-var-crown: unicode(f521);
$fa-var-crutch: unicode(f7f7);
$fa-var-css3: unicode(f13c);
$fa-var-css3-alt: unicode(f38b);
$fa-var-cube: unicode(f1b2);
$fa-var-cubes: unicode(f1b3);
$fa-var-cut: unicode(f0c4);
$fa-var-cuttlefish: unicode(f38c);
$fa-var-d-and-d: unicode(f38d);
$fa-var-d-and-d-beyond: unicode(f6ca);
$fa-var-dailymotion: \e052;
$fa-var-dashcube: unicode(f210);
$fa-var-database: unicode(f1c0);
$fa-var-deaf: unicode(f2a4);
$fa-var-deezer: \e077;
$fa-var-delicious: unicode(f1a5);
$fa-var-democrat: unicode(f747);
$fa-var-deploydog: unicode(f38e);
$fa-var-deskpro: unicode(f38f);
$fa-var-desktop: unicode(f108);
$fa-var-dev: unicode(f6cc);
$fa-var-deviantart: unicode(f1bd);
$fa-var-dharmachakra: unicode(f655);
$fa-var-dhl: unicode(f790);
$fa-var-diagnoses: unicode(f470);
$fa-var-diaspora: unicode(f791);
$fa-var-dice: unicode(f522);
$fa-var-dice-d20: unicode(f6cf);
$fa-var-dice-d6: unicode(f6d1);
$fa-var-dice-five: unicode(f523);
$fa-var-dice-four: unicode(f524);
$fa-var-dice-one: unicode(f525);
$fa-var-dice-six: unicode(f526);
$fa-var-dice-three: unicode(f527);
$fa-var-dice-two: unicode(f528);
$fa-var-digg: unicode(f1a6);
$fa-var-digital-ocean: unicode(f391);
$fa-var-digital-tachograph: unicode(f566);
$fa-var-directions: unicode(f5eb);
$fa-var-discord: unicode(f392);
$fa-var-discourse: unicode(f393);
$fa-var-disease: unicode(f7fa);
$fa-var-divide: unicode(f529);
$fa-var-dizzy: unicode(f567);
$fa-var-dna: unicode(f471);
$fa-var-dochub: unicode(f394);
$fa-var-docker: unicode(f395);
$fa-var-dog: unicode(f6d3);
$fa-var-dollar-sign: unicode(f155);
$fa-var-dolly: unicode(f472);
$fa-var-dolly-flatbed: unicode(f474);
$fa-var-donate: unicode(f4b9);
$fa-var-door-closed: unicode(f52a);
$fa-var-door-open: unicode(f52b);
$fa-var-dot-circle: unicode(f192);
$fa-var-dove: unicode(f4ba);
$fa-var-download: unicode(f019);
$fa-var-draft2digital: unicode(f396);
$fa-var-drafting-compass: unicode(f568);
$fa-var-dragon: unicode(f6d5);
$fa-var-draw-polygon: unicode(f5ee);
$fa-var-dribbble: unicode(f17d);
$fa-var-dribbble-square: unicode(f397);
$fa-var-dropbox: unicode(f16b);
$fa-var-drum: unicode(f569);
$fa-var-drum-steelpan: unicode(f56a);
$fa-var-drumstick-bite: unicode(f6d7);
$fa-var-drupal: unicode(f1a9);
$fa-var-dumbbell: unicode(f44b);
$fa-var-dumpster: unicode(f793);
$fa-var-dumpster-fire: unicode(f794);
$fa-var-dungeon: unicode(f6d9);
$fa-var-dyalog: unicode(f399);
$fa-var-earlybirds: unicode(f39a);
$fa-var-ebay: unicode(f4f4);
$fa-var-edge: unicode(f282);
$fa-var-edge-legacy: \e078;
$fa-var-edit: unicode(f044);
$fa-var-egg: unicode(f7fb);
$fa-var-eject: unicode(f052);
$fa-var-elementor: unicode(f430);
$fa-var-ellipsis-h: unicode(f141);
$fa-var-ellipsis-v: unicode(f142);
$fa-var-ello: unicode(f5f1);
$fa-var-ember: unicode(f423);
$fa-var-empire: unicode(f1d1);
$fa-var-envelope: unicode(f0e0);
$fa-var-envelope-open: unicode(f2b6);
$fa-var-envelope-open-text: unicode(f658);
$fa-var-envelope-square: unicode(f199);
$fa-var-envira: unicode(f299);
$fa-var-equals: unicode(f52c);
$fa-var-eraser: unicode(f12d);
$fa-var-erlang: unicode(f39d);
$fa-var-ethereum: unicode(f42e);
$fa-var-ethernet: unicode(f796);
$fa-var-etsy: unicode(f2d7);
$fa-var-euro-sign: unicode(f153);
$fa-var-evernote: unicode(f839);
$fa-var-exchange-alt: unicode(f362);
$fa-var-exclamation: unicode(f12a);
$fa-var-exclamation-circle: unicode(f06a);
$fa-var-exclamation-triangle: unicode(f071);
$fa-var-expand: unicode(f065);
$fa-var-expand-alt: unicode(f424);
$fa-var-expand-arrows-alt: unicode(f31e);
$fa-var-expeditedssl: unicode(f23e);
$fa-var-external-link-alt: unicode(f35d);
$fa-var-external-link-square-alt: unicode(f360);
$fa-var-eye: unicode(f06e);
$fa-var-eye-dropper: unicode(f1fb);
$fa-var-eye-slash: unicode(f070);
$fa-var-facebook: unicode(f09a);
$fa-var-facebook-f: unicode(f39e);
$fa-var-facebook-messenger: unicode(f39f);
$fa-var-facebook-square: unicode(f082);
$fa-var-fan: unicode(f863);
$fa-var-fantasy-flight-games: unicode(f6dc);
$fa-var-fast-backward: unicode(f049);
$fa-var-fast-forward: unicode(f050);
$fa-var-faucet: \e005;
$fa-var-fax: unicode(f1ac);
$fa-var-feather: unicode(f52d);
$fa-var-feather-alt: unicode(f56b);
$fa-var-fedex: unicode(f797);
$fa-var-fedora: unicode(f798);
$fa-var-female: unicode(f182);
$fa-var-fighter-jet: unicode(f0fb);
$fa-var-figma: unicode(f799);
$fa-var-file: unicode(f15b);
$fa-var-file-alt: unicode(f15c);
$fa-var-file-archive: unicode(f1c6);
$fa-var-file-audio: unicode(f1c7);
$fa-var-file-code: unicode(f1c9);
$fa-var-file-contract: unicode(f56c);
$fa-var-file-csv: unicode(f6dd);
$fa-var-file-download: unicode(f56d);
$fa-var-file-excel: unicode(f1c3);
$fa-var-file-export: unicode(f56e);
$fa-var-file-image: unicode(f1c5);
$fa-var-file-import: unicode(f56f);
$fa-var-file-invoice: unicode(f570);
$fa-var-file-invoice-dollar: unicode(f571);
$fa-var-file-medical: unicode(f477);
$fa-var-file-medical-alt: unicode(f478);
$fa-var-file-pdf: unicode(f1c1);
$fa-var-file-powerpoint: unicode(f1c4);
$fa-var-file-prescription: unicode(f572);
$fa-var-file-signature: unicode(f573);
$fa-var-file-upload: unicode(f574);
$fa-var-file-video: unicode(f1c8);
$fa-var-file-word: unicode(f1c2);
$fa-var-fill: unicode(f575);
$fa-var-fill-drip: unicode(f576);
$fa-var-film: unicode(f008);
$fa-var-filter: unicode(f0b0);
$fa-var-fingerprint: unicode(f577);
$fa-var-fire: unicode(f06d);
$fa-var-fire-alt: unicode(f7e4);
$fa-var-fire-extinguisher: unicode(f134);
$fa-var-firefox: unicode(f269);
$fa-var-firefox-browser: \e007;
$fa-var-first-aid: unicode(f479);
$fa-var-first-order: unicode(f2b0);
$fa-var-first-order-alt: unicode(f50a);
$fa-var-firstdraft: unicode(f3a1);
$fa-var-fish: unicode(f578);
$fa-var-fist-raised: unicode(f6de);
$fa-var-flag: unicode(f024);
$fa-var-flag-checkered: unicode(f11e);
$fa-var-flag-usa: unicode(f74d);
$fa-var-flask: unicode(f0c3);
$fa-var-flickr: unicode(f16e);
$fa-var-flipboard: unicode(f44d);
$fa-var-flushed: unicode(f579);
$fa-var-fly: unicode(f417);
$fa-var-folder: unicode(f07b);
$fa-var-folder-minus: unicode(f65d);
$fa-var-folder-open: unicode(f07c);
$fa-var-folder-plus: unicode(f65e);
$fa-var-font: unicode(f031);
$fa-var-font-awesome: unicode(f2b4);
$fa-var-font-awesome-alt: unicode(f35c);
$fa-var-font-awesome-flag: unicode(f425);
$fa-var-font-awesome-logo-full: unicode(f4e6);
$fa-var-fonticons: unicode(f280);
$fa-var-fonticons-fi: unicode(f3a2);
$fa-var-football-ball: unicode(f44e);
$fa-var-fort-awesome: unicode(f286);
$fa-var-fort-awesome-alt: unicode(f3a3);
$fa-var-forumbee: unicode(f211);
$fa-var-forward: unicode(f04e);
$fa-var-foursquare: unicode(f180);
$fa-var-free-code-camp: unicode(f2c5);
$fa-var-freebsd: unicode(f3a4);
$fa-var-frog: unicode(f52e);
$fa-var-frown: unicode(f119);
$fa-var-frown-open: unicode(f57a);
$fa-var-fulcrum: unicode(f50b);
$fa-var-funnel-dollar: unicode(f662);
$fa-var-futbol: unicode(f1e3);
$fa-var-galactic-republic: unicode(f50c);
$fa-var-galactic-senate: unicode(f50d);
$fa-var-gamepad: unicode(f11b);
$fa-var-gas-pump: unicode(f52f);
$fa-var-gavel: unicode(f0e3);
$fa-var-gem: unicode(f3a5);
$fa-var-genderless: unicode(f22d);
$fa-var-get-pocket: unicode(f265);
$fa-var-gg: unicode(f260);
$fa-var-gg-circle: unicode(f261);
$fa-var-ghost: unicode(f6e2);
$fa-var-gift: unicode(f06b);
$fa-var-gifts: unicode(f79c);
$fa-var-git: unicode(f1d3);
$fa-var-git-alt: unicode(f841);
$fa-var-git-square: unicode(f1d2);
$fa-var-github: unicode(f09b);
$fa-var-github-alt: unicode(f113);
$fa-var-github-square: unicode(f092);
$fa-var-gitkraken: unicode(f3a6);
$fa-var-gitlab: unicode(f296);
$fa-var-gitter: unicode(f426);
$fa-var-glass-cheers: unicode(f79f);
$fa-var-glass-martini: unicode(f000);
$fa-var-glass-martini-alt: unicode(f57b);
$fa-var-glass-whiskey: unicode(f7a0);
$fa-var-glasses: unicode(f530);
$fa-var-glide: unicode(f2a5);
$fa-var-glide-g: unicode(f2a6);
$fa-var-globe: unicode(f0ac);
$fa-var-globe-africa: unicode(f57c);
$fa-var-globe-americas: unicode(f57d);
$fa-var-globe-asia: unicode(f57e);
$fa-var-globe-europe: unicode(f7a2);
$fa-var-gofore: unicode(f3a7);
$fa-var-golf-ball: unicode(f450);
$fa-var-goodreads: unicode(f3a8);
$fa-var-goodreads-g: unicode(f3a9);
$fa-var-google: unicode(f1a0);
$fa-var-google-drive: unicode(f3aa);
$fa-var-google-pay: \e079;
$fa-var-google-play: unicode(f3ab);
$fa-var-google-plus: unicode(f2b3);
$fa-var-google-plus-g: unicode(f0d5);
$fa-var-google-plus-square: unicode(f0d4);
$fa-var-google-wallet: unicode(f1ee);
$fa-var-gopuram: unicode(f664);
$fa-var-graduation-cap: unicode(f19d);
$fa-var-gratipay: unicode(f184);
$fa-var-grav: unicode(f2d6);
$fa-var-greater-than: unicode(f531);
$fa-var-greater-than-equal: unicode(f532);
$fa-var-grimace: unicode(f57f);
$fa-var-grin: unicode(f580);
$fa-var-grin-alt: unicode(f581);
$fa-var-grin-beam: unicode(f582);
$fa-var-grin-beam-sweat: unicode(f583);
$fa-var-grin-hearts: unicode(f584);
$fa-var-grin-squint: unicode(f585);
$fa-var-grin-squint-tears: unicode(f586);
$fa-var-grin-stars: unicode(f587);
$fa-var-grin-tears: unicode(f588);
$fa-var-grin-tongue: unicode(f589);
$fa-var-grin-tongue-squint: unicode(f58a);
$fa-var-grin-tongue-wink: unicode(f58b);
$fa-var-grin-wink: unicode(f58c);
$fa-var-grip-horizontal: unicode(f58d);
$fa-var-grip-lines: unicode(f7a4);
$fa-var-grip-lines-vertical: unicode(f7a5);
$fa-var-grip-vertical: unicode(f58e);
$fa-var-gripfire: unicode(f3ac);
$fa-var-grunt: unicode(f3ad);
$fa-var-guilded: \e07e;
$fa-var-guitar: unicode(f7a6);
$fa-var-gulp: unicode(f3ae);
$fa-var-h-square: unicode(f0fd);
$fa-var-hacker-news: unicode(f1d4);
$fa-var-hacker-news-square: unicode(f3af);
$fa-var-hackerrank: unicode(f5f7);
$fa-var-hamburger: unicode(f805);
$fa-var-hammer: unicode(f6e3);
$fa-var-hamsa: unicode(f665);
$fa-var-hand-holding: unicode(f4bd);
$fa-var-hand-holding-heart: unicode(f4be);
$fa-var-hand-holding-medical: \e05c;
$fa-var-hand-holding-usd: unicode(f4c0);
$fa-var-hand-holding-water: unicode(f4c1);
$fa-var-hand-lizard: unicode(f258);
$fa-var-hand-middle-finger: unicode(f806);
$fa-var-hand-paper: unicode(f256);
$fa-var-hand-peace: unicode(f25b);
$fa-var-hand-point-down: unicode(f0a7);
$fa-var-hand-point-left: unicode(f0a5);
$fa-var-hand-point-right: unicode(f0a4);
$fa-var-hand-point-up: unicode(f0a6);
$fa-var-hand-pointer: unicode(f25a);
$fa-var-hand-rock: unicode(f255);
$fa-var-hand-scissors: unicode(f257);
$fa-var-hand-sparkles: \e05d;
$fa-var-hand-spock: unicode(f259);
$fa-var-hands: unicode(f4c2);
$fa-var-hands-helping: unicode(f4c4);
$fa-var-hands-wash: \e05e;
$fa-var-handshake: unicode(f2b5);
$fa-var-handshake-alt-slash: \e05f;
$fa-var-handshake-slash: \e060;
$fa-var-hanukiah: unicode(f6e6);
$fa-var-hard-hat: unicode(f807);
$fa-var-hashtag: unicode(f292);
$fa-var-hat-cowboy: unicode(f8c0);
$fa-var-hat-cowboy-side: unicode(f8c1);
$fa-var-hat-wizard: unicode(f6e8);
$fa-var-hdd: unicode(f0a0);
$fa-var-head-side-cough: \e061;
$fa-var-head-side-cough-slash: \e062;
$fa-var-head-side-mask: \e063;
$fa-var-head-side-virus: \e064;
$fa-var-heading: unicode(f1dc);
$fa-var-headphones: unicode(f025);
$fa-var-headphones-alt: unicode(f58f);
$fa-var-headset: unicode(f590);
$fa-var-heart: unicode(f004);
$fa-var-heart-broken: unicode(f7a9);
$fa-var-heartbeat: unicode(f21e);
$fa-var-helicopter: unicode(f533);
$fa-var-highlighter: unicode(f591);
$fa-var-hiking: unicode(f6ec);
$fa-var-hippo: unicode(f6ed);
$fa-var-hips: unicode(f452);
$fa-var-hire-a-helper: unicode(f3b0);
$fa-var-history: unicode(f1da);
$fa-var-hive: \e07f;
$fa-var-hockey-puck: unicode(f453);
$fa-var-holly-berry: unicode(f7aa);
$fa-var-home: unicode(f015);
$fa-var-hooli: unicode(f427);
$fa-var-hornbill: unicode(f592);
$fa-var-horse: unicode(f6f0);
$fa-var-horse-head: unicode(f7ab);
$fa-var-hospital: unicode(f0f8);
$fa-var-hospital-alt: unicode(f47d);
$fa-var-hospital-symbol: unicode(f47e);
$fa-var-hospital-user: unicode(f80d);
$fa-var-hot-tub: unicode(f593);
$fa-var-hotdog: unicode(f80f);
$fa-var-hotel: unicode(f594);
$fa-var-hotjar: unicode(f3b1);
$fa-var-hourglass: unicode(f254);
$fa-var-hourglass-end: unicode(f253);
$fa-var-hourglass-half: unicode(f252);
$fa-var-hourglass-start: unicode(f251);
$fa-var-house-damage: unicode(f6f1);
$fa-var-house-user: \e065;
$fa-var-houzz: unicode(f27c);
$fa-var-hryvnia: unicode(f6f2);
$fa-var-html5: unicode(f13b);
$fa-var-hubspot: unicode(f3b2);
$fa-var-i-cursor: unicode(f246);
$fa-var-ice-cream: unicode(f810);
$fa-var-icicles: unicode(f7ad);
$fa-var-icons: unicode(f86d);
$fa-var-id-badge: unicode(f2c1);
$fa-var-id-card: unicode(f2c2);
$fa-var-id-card-alt: unicode(f47f);
$fa-var-ideal: \e013;
$fa-var-igloo: unicode(f7ae);
$fa-var-image: unicode(f03e);
$fa-var-images: unicode(f302);
$fa-var-imdb: unicode(f2d8);
$fa-var-inbox: unicode(f01c);
$fa-var-indent: unicode(f03c);
$fa-var-industry: unicode(f275);
$fa-var-infinity: unicode(f534);
$fa-var-info: unicode(f129);
$fa-var-info-circle: unicode(f05a);
$fa-var-innosoft: \e080;
$fa-var-instagram: unicode(f16d);
$fa-var-instagram-square: \e055;
$fa-var-instalod: \e081;
$fa-var-intercom: unicode(f7af);
$fa-var-internet-explorer: unicode(f26b);
$fa-var-invision: unicode(f7b0);
$fa-var-ioxhost: unicode(f208);
$fa-var-italic: unicode(f033);
$fa-var-itch-io: unicode(f83a);
$fa-var-itunes: unicode(f3b4);
$fa-var-itunes-note: unicode(f3b5);
$fa-var-java: unicode(f4e4);
$fa-var-jedi: unicode(f669);
$fa-var-jedi-order: unicode(f50e);
$fa-var-jenkins: unicode(f3b6);
$fa-var-jira: unicode(f7b1);
$fa-var-joget: unicode(f3b7);
$fa-var-joint: unicode(f595);
$fa-var-joomla: unicode(f1aa);
$fa-var-journal-whills: unicode(f66a);
$fa-var-js: unicode(f3b8);
$fa-var-js-square: unicode(f3b9);
$fa-var-jsfiddle: unicode(f1cc);
$fa-var-kaaba: unicode(f66b);
$fa-var-kaggle: unicode(f5fa);
$fa-var-key: unicode(f084);
$fa-var-keybase: unicode(f4f5);
$fa-var-keyboard: unicode(f11c);
$fa-var-keycdn: unicode(f3ba);
$fa-var-khanda: unicode(f66d);
$fa-var-kickstarter: unicode(f3bb);
$fa-var-kickstarter-k: unicode(f3bc);
$fa-var-kiss: unicode(f596);
$fa-var-kiss-beam: unicode(f597);
$fa-var-kiss-wink-heart: unicode(f598);
$fa-var-kiwi-bird: unicode(f535);
$fa-var-korvue: unicode(f42f);
$fa-var-landmark: unicode(f66f);
$fa-var-language: unicode(f1ab);
$fa-var-laptop: unicode(f109);
$fa-var-laptop-code: unicode(f5fc);
$fa-var-laptop-house: \e066;
$fa-var-laptop-medical: unicode(f812);
$fa-var-laravel: unicode(f3bd);
$fa-var-lastfm: unicode(f202);
$fa-var-lastfm-square: unicode(f203);
$fa-var-laugh: unicode(f599);
$fa-var-laugh-beam: unicode(f59a);
$fa-var-laugh-squint: unicode(f59b);
$fa-var-laugh-wink: unicode(f59c);
$fa-var-layer-group: unicode(f5fd);
$fa-var-leaf: unicode(f06c);
$fa-var-leanpub: unicode(f212);
$fa-var-lemon: unicode(f094);
$fa-var-less: unicode(f41d);
$fa-var-less-than: unicode(f536);
$fa-var-less-than-equal: unicode(f537);
$fa-var-level-down-alt: unicode(f3be);
$fa-var-level-up-alt: unicode(f3bf);
$fa-var-life-ring: unicode(f1cd);
$fa-var-lightbulb: unicode(f0eb);
$fa-var-line: unicode(f3c0);
$fa-var-link: unicode(f0c1);
$fa-var-linkedin: unicode(f08c);
$fa-var-linkedin-in: unicode(f0e1);
$fa-var-linode: unicode(f2b8);
$fa-var-linux: unicode(f17c);
$fa-var-lira-sign: unicode(f195);
$fa-var-list: unicode(f03a);
$fa-var-list-alt: unicode(f022);
$fa-var-list-ol: unicode(f0cb);
$fa-var-list-ul: unicode(f0ca);
$fa-var-location-arrow: unicode(f124);
$fa-var-lock: unicode(f023);
$fa-var-lock-open: unicode(f3c1);
$fa-var-long-arrow-alt-down: unicode(f309);
$fa-var-long-arrow-alt-left: unicode(f30a);
$fa-var-long-arrow-alt-right: unicode(f30b);
$fa-var-long-arrow-alt-up: unicode(f30c);
$fa-var-low-vision: unicode(f2a8);
$fa-var-luggage-cart: unicode(f59d);
$fa-var-lungs: unicode(f604);
$fa-var-lungs-virus: \e067;
$fa-var-lyft: unicode(f3c3);
$fa-var-magento: unicode(f3c4);
$fa-var-magic: unicode(f0d0);
$fa-var-magnet: unicode(f076);
$fa-var-mail-bulk: unicode(f674);
$fa-var-mailchimp: unicode(f59e);
$fa-var-male: unicode(f183);
$fa-var-mandalorian: unicode(f50f);
$fa-var-map: unicode(f279);
$fa-var-map-marked: unicode(f59f);
$fa-var-map-marked-alt: unicode(f5a0);
$fa-var-map-marker: unicode(f041);
$fa-var-map-marker-alt: unicode(f3c5);
$fa-var-map-pin: unicode(f276);
$fa-var-map-signs: unicode(f277);
$fa-var-markdown: unicode(f60f);
$fa-var-marker: unicode(f5a1);
$fa-var-mars: unicode(f222);
$fa-var-mars-double: unicode(f227);
$fa-var-mars-stroke: unicode(f229);
$fa-var-mars-stroke-h: unicode(f22b);
$fa-var-mars-stroke-v: unicode(f22a);
$fa-var-mask: unicode(f6fa);
$fa-var-mastodon: unicode(f4f6);
$fa-var-maxcdn: unicode(f136);
$fa-var-mdb: unicode(f8ca);
$fa-var-medal: unicode(f5a2);
$fa-var-medapps: unicode(f3c6);
$fa-var-medium: unicode(f23a);
$fa-var-medium-m: unicode(f3c7);
$fa-var-medkit: unicode(f0fa);
$fa-var-medrt: unicode(f3c8);
$fa-var-meetup: unicode(f2e0);
$fa-var-megaport: unicode(f5a3);
$fa-var-meh: unicode(f11a);
$fa-var-meh-blank: unicode(f5a4);
$fa-var-meh-rolling-eyes: unicode(f5a5);
$fa-var-memory: unicode(f538);
$fa-var-mendeley: unicode(f7b3);
$fa-var-menorah: unicode(f676);
$fa-var-mercury: unicode(f223);
$fa-var-meteor: unicode(f753);
$fa-var-microblog: \e01a;
$fa-var-microchip: unicode(f2db);
$fa-var-microphone: unicode(f130);
$fa-var-microphone-alt: unicode(f3c9);
$fa-var-microphone-alt-slash: unicode(f539);
$fa-var-microphone-slash: unicode(f131);
$fa-var-microscope: unicode(f610);
$fa-var-microsoft: unicode(f3ca);
$fa-var-minus: unicode(f068);
$fa-var-minus-circle: unicode(f056);
$fa-var-minus-square: unicode(f146);
$fa-var-mitten: unicode(f7b5);
$fa-var-mix: unicode(f3cb);
$fa-var-mixcloud: unicode(f289);
$fa-var-mixer: \e056;
$fa-var-mizuni: unicode(f3cc);
$fa-var-mobile: unicode(f10b);
$fa-var-mobile-alt: unicode(f3cd);
$fa-var-modx: unicode(f285);
$fa-var-monero: unicode(f3d0);
$fa-var-money-bill: unicode(f0d6);
$fa-var-money-bill-alt: unicode(f3d1);
$fa-var-money-bill-wave: unicode(f53a);
$fa-var-money-bill-wave-alt: unicode(f53b);
$fa-var-money-check: unicode(f53c);
$fa-var-money-check-alt: unicode(f53d);
$fa-var-monument: unicode(f5a6);
$fa-var-moon: unicode(f186);
$fa-var-mortar-pestle: unicode(f5a7);
$fa-var-mosque: unicode(f678);
$fa-var-motorcycle: unicode(f21c);
$fa-var-mountain: unicode(f6fc);
$fa-var-mouse: unicode(f8cc);
$fa-var-mouse-pointer: unicode(f245);
$fa-var-mug-hot: unicode(f7b6);
$fa-var-music: unicode(f001);
$fa-var-napster: unicode(f3d2);
$fa-var-neos: unicode(f612);
$fa-var-network-wired: unicode(f6ff);
$fa-var-neuter: unicode(f22c);
$fa-var-newspaper: unicode(f1ea);
$fa-var-nimblr: unicode(f5a8);
$fa-var-node: unicode(f419);
$fa-var-node-js: unicode(f3d3);
$fa-var-not-equal: unicode(f53e);
$fa-var-notes-medical: unicode(f481);
$fa-var-npm: unicode(f3d4);
$fa-var-ns8: unicode(f3d5);
$fa-var-nutritionix: unicode(f3d6);
$fa-var-object-group: unicode(f247);
$fa-var-object-ungroup: unicode(f248);
$fa-var-octopus-deploy: \e082;
$fa-var-odnoklassniki: unicode(f263);
$fa-var-odnoklassniki-square: unicode(f264);
$fa-var-oil-can: unicode(f613);
$fa-var-old-republic: unicode(f510);
$fa-var-om: unicode(f679);
$fa-var-opencart: unicode(f23d);
$fa-var-openid: unicode(f19b);
$fa-var-opera: unicode(f26a);
$fa-var-optin-monster: unicode(f23c);
$fa-var-orcid: unicode(f8d2);
$fa-var-osi: unicode(f41a);
$fa-var-otter: unicode(f700);
$fa-var-outdent: unicode(f03b);
$fa-var-page4: unicode(f3d7);
$fa-var-pagelines: unicode(f18c);
$fa-var-pager: unicode(f815);
$fa-var-paint-brush: unicode(f1fc);
$fa-var-paint-roller: unicode(f5aa);
$fa-var-palette: unicode(f53f);
$fa-var-palfed: unicode(f3d8);
$fa-var-pallet: unicode(f482);
$fa-var-paper-plane: unicode(f1d8);
$fa-var-paperclip: unicode(f0c6);
$fa-var-parachute-box: unicode(f4cd);
$fa-var-paragraph: unicode(f1dd);
$fa-var-parking: unicode(f540);
$fa-var-passport: unicode(f5ab);
$fa-var-pastafarianism: unicode(f67b);
$fa-var-paste: unicode(f0ea);
$fa-var-patreon: unicode(f3d9);
$fa-var-pause: unicode(f04c);
$fa-var-pause-circle: unicode(f28b);
$fa-var-paw: unicode(f1b0);
$fa-var-paypal: unicode(f1ed);
$fa-var-peace: unicode(f67c);
$fa-var-pen: unicode(f304);
$fa-var-pen-alt: unicode(f305);
$fa-var-pen-fancy: unicode(f5ac);
$fa-var-pen-nib: unicode(f5ad);
$fa-var-pen-square: unicode(f14b);
$fa-var-pencil-alt: unicode(f303);
$fa-var-pencil-ruler: unicode(f5ae);
$fa-var-penny-arcade: unicode(f704);
$fa-var-people-arrows: \e068;
$fa-var-people-carry: unicode(f4ce);
$fa-var-pepper-hot: unicode(f816);
$fa-var-perbyte: \e083;
$fa-var-percent: unicode(f295);
$fa-var-percentage: unicode(f541);
$fa-var-periscope: unicode(f3da);
$fa-var-person-booth: unicode(f756);
$fa-var-phabricator: unicode(f3db);
$fa-var-phoenix-framework: unicode(f3dc);
$fa-var-phoenix-squadron: unicode(f511);
$fa-var-phone: unicode(f095);
$fa-var-phone-alt: unicode(f879);
$fa-var-phone-slash: unicode(f3dd);
$fa-var-phone-square: unicode(f098);
$fa-var-phone-square-alt: unicode(f87b);
$fa-var-phone-volume: unicode(f2a0);
$fa-var-photo-video: unicode(f87c);
$fa-var-php: unicode(f457);
$fa-var-pied-piper: unicode(f2ae);
$fa-var-pied-piper-alt: unicode(f1a8);
$fa-var-pied-piper-hat: unicode(f4e5);
$fa-var-pied-piper-pp: unicode(f1a7);
$fa-var-pied-piper-square: \e01e;
$fa-var-piggy-bank: unicode(f4d3);
$fa-var-pills: unicode(f484);
$fa-var-pinterest: unicode(f0d2);
$fa-var-pinterest-p: unicode(f231);
$fa-var-pinterest-square: unicode(f0d3);
$fa-var-pizza-slice: unicode(f818);
$fa-var-place-of-worship: unicode(f67f);
$fa-var-plane: unicode(f072);
$fa-var-plane-arrival: unicode(f5af);
$fa-var-plane-departure: unicode(f5b0);
$fa-var-plane-slash: \e069;
$fa-var-play: unicode(f04b);
$fa-var-play-circle: unicode(f144);
$fa-var-playstation: unicode(f3df);
$fa-var-plug: unicode(f1e6);
$fa-var-plus: unicode(f067);
$fa-var-plus-circle: unicode(f055);
$fa-var-plus-square: unicode(f0fe);
$fa-var-podcast: unicode(f2ce);
$fa-var-poll: unicode(f681);
$fa-var-poll-h: unicode(f682);
$fa-var-poo: unicode(f2fe);
$fa-var-poo-storm: unicode(f75a);
$fa-var-poop: unicode(f619);
$fa-var-portrait: unicode(f3e0);
$fa-var-pound-sign: unicode(f154);
$fa-var-power-off: unicode(f011);
$fa-var-pray: unicode(f683);
$fa-var-praying-hands: unicode(f684);
$fa-var-prescription: unicode(f5b1);
$fa-var-prescription-bottle: unicode(f485);
$fa-var-prescription-bottle-alt: unicode(f486);
$fa-var-print: unicode(f02f);
$fa-var-procedures: unicode(f487);
$fa-var-product-hunt: unicode(f288);
$fa-var-project-diagram: unicode(f542);
$fa-var-pump-medical: \e06a;
$fa-var-pump-soap: \e06b;
$fa-var-pushed: unicode(f3e1);
$fa-var-puzzle-piece: unicode(f12e);
$fa-var-python: unicode(f3e2);
$fa-var-qq: unicode(f1d6);
$fa-var-qrcode: unicode(f029);
$fa-var-question: unicode(f128);
$fa-var-question-circle: unicode(f059);
$fa-var-quidditch: unicode(f458);
$fa-var-quinscape: unicode(f459);
$fa-var-quora: unicode(f2c4);
$fa-var-quote-left: unicode(f10d);
$fa-var-quote-right: unicode(f10e);
$fa-var-quran: unicode(f687);
$fa-var-r-project: unicode(f4f7);
$fa-var-radiation: unicode(f7b9);
$fa-var-radiation-alt: unicode(f7ba);
$fa-var-rainbow: unicode(f75b);
$fa-var-random: unicode(f074);
$fa-var-raspberry-pi: unicode(f7bb);
$fa-var-ravelry: unicode(f2d9);
$fa-var-react: unicode(f41b);
$fa-var-reacteurope: unicode(f75d);
$fa-var-readme: unicode(f4d5);
$fa-var-rebel: unicode(f1d0);
$fa-var-receipt: unicode(f543);
$fa-var-record-vinyl: unicode(f8d9);
$fa-var-recycle: unicode(f1b8);
$fa-var-red-river: unicode(f3e3);
$fa-var-reddit: unicode(f1a1);
$fa-var-reddit-alien: unicode(f281);
$fa-var-reddit-square: unicode(f1a2);
$fa-var-redhat: unicode(f7bc);
$fa-var-redo: unicode(f01e);
$fa-var-redo-alt: unicode(f2f9);
$fa-var-registered: unicode(f25d);
$fa-var-remove-format: unicode(f87d);
$fa-var-renren: unicode(f18b);
$fa-var-reply: unicode(f3e5);
$fa-var-reply-all: unicode(f122);
$fa-var-replyd: unicode(f3e6);
$fa-var-republican: unicode(f75e);
$fa-var-researchgate: unicode(f4f8);
$fa-var-resolving: unicode(f3e7);
$fa-var-restroom: unicode(f7bd);
$fa-var-retweet: unicode(f079);
$fa-var-rev: unicode(f5b2);
$fa-var-ribbon: unicode(f4d6);
$fa-var-ring: unicode(f70b);
$fa-var-road: unicode(f018);
$fa-var-robot: unicode(f544);
$fa-var-rocket: unicode(f135);
$fa-var-rocketchat: unicode(f3e8);
$fa-var-rockrms: unicode(f3e9);
$fa-var-route: unicode(f4d7);
$fa-var-rss: unicode(f09e);
$fa-var-rss-square: unicode(f143);
$fa-var-ruble-sign: unicode(f158);
$fa-var-ruler: unicode(f545);
$fa-var-ruler-combined: unicode(f546);
$fa-var-ruler-horizontal: unicode(f547);
$fa-var-ruler-vertical: unicode(f548);
$fa-var-running: unicode(f70c);
$fa-var-rupee-sign: unicode(f156);
$fa-var-rust: \e07a;
$fa-var-sad-cry: unicode(f5b3);
$fa-var-sad-tear: unicode(f5b4);
$fa-var-safari: unicode(f267);
$fa-var-salesforce: unicode(f83b);
$fa-var-sass: unicode(f41e);
$fa-var-satellite: unicode(f7bf);
$fa-var-satellite-dish: unicode(f7c0);
$fa-var-save: unicode(f0c7);
$fa-var-schlix: unicode(f3ea);
$fa-var-school: unicode(f549);
$fa-var-screwdriver: unicode(f54a);
$fa-var-scribd: unicode(f28a);
$fa-var-scroll: unicode(f70e);
$fa-var-sd-card: unicode(f7c2);
$fa-var-search: unicode(f002);
$fa-var-search-dollar: unicode(f688);
$fa-var-search-location: unicode(f689);
$fa-var-search-minus: unicode(f010);
$fa-var-search-plus: unicode(f00e);
$fa-var-searchengin: unicode(f3eb);
$fa-var-seedling: unicode(f4d8);
$fa-var-sellcast: unicode(f2da);
$fa-var-sellsy: unicode(f213);
$fa-var-server: unicode(f233);
$fa-var-servicestack: unicode(f3ec);
$fa-var-shapes: unicode(f61f);
$fa-var-share: unicode(f064);
$fa-var-share-alt: unicode(f1e0);
$fa-var-share-alt-square: unicode(f1e1);
$fa-var-share-square: unicode(f14d);
$fa-var-shekel-sign: unicode(f20b);
$fa-var-shield-alt: unicode(f3ed);
$fa-var-shield-virus: \e06c;
$fa-var-ship: unicode(f21a);
$fa-var-shipping-fast: unicode(f48b);
$fa-var-shirtsinbulk: unicode(f214);
$fa-var-shoe-prints: unicode(f54b);
$fa-var-shopify: \e057;
$fa-var-shopping-bag: unicode(f290);
$fa-var-shopping-basket: unicode(f291);
$fa-var-shopping-cart: unicode(f07a);
$fa-var-shopware: unicode(f5b5);
$fa-var-shower: unicode(f2cc);
$fa-var-shuttle-van: unicode(f5b6);
$fa-var-sign: unicode(f4d9);
$fa-var-sign-in-alt: unicode(f2f6);
$fa-var-sign-language: unicode(f2a7);
$fa-var-sign-out-alt: unicode(f2f5);
$fa-var-signal: unicode(f012);
$fa-var-signature: unicode(f5b7);
$fa-var-sim-card: unicode(f7c4);
$fa-var-simplybuilt: unicode(f215);
$fa-var-sink: \e06d;
$fa-var-sistrix: unicode(f3ee);
$fa-var-sitemap: unicode(f0e8);
$fa-var-sith: unicode(f512);
$fa-var-skating: unicode(f7c5);
$fa-var-sketch: unicode(f7c6);
$fa-var-skiing: unicode(f7c9);
$fa-var-skiing-nordic: unicode(f7ca);
$fa-var-skull: unicode(f54c);
$fa-var-skull-crossbones: unicode(f714);
$fa-var-skyatlas: unicode(f216);
$fa-var-skype: unicode(f17e);
$fa-var-slack: unicode(f198);
$fa-var-slack-hash: unicode(f3ef);
$fa-var-slash: unicode(f715);
$fa-var-sleigh: unicode(f7cc);
$fa-var-sliders-h: unicode(f1de);
$fa-var-slideshare: unicode(f1e7);
$fa-var-smile: unicode(f118);
$fa-var-smile-beam: unicode(f5b8);
$fa-var-smile-wink: unicode(f4da);
$fa-var-smog: unicode(f75f);
$fa-var-smoking: unicode(f48d);
$fa-var-smoking-ban: unicode(f54d);
$fa-var-sms: unicode(f7cd);
$fa-var-snapchat: unicode(f2ab);
$fa-var-snapchat-ghost: unicode(f2ac);
$fa-var-snapchat-square: unicode(f2ad);
$fa-var-snowboarding: unicode(f7ce);
$fa-var-snowflake: unicode(f2dc);
$fa-var-snowman: unicode(f7d0);
$fa-var-snowplow: unicode(f7d2);
$fa-var-soap: \e06e;
$fa-var-socks: unicode(f696);
$fa-var-solar-panel: unicode(f5ba);
$fa-var-sort: unicode(f0dc);
$fa-var-sort-alpha-down: unicode(f15d);
$fa-var-sort-alpha-down-alt: unicode(f881);
$fa-var-sort-alpha-up: unicode(f15e);
$fa-var-sort-alpha-up-alt: unicode(f882);
$fa-var-sort-amount-down: unicode(f160);
$fa-var-sort-amount-down-alt: unicode(f884);
$fa-var-sort-amount-up: unicode(f161);
$fa-var-sort-amount-up-alt: unicode(f885);
$fa-var-sort-down: unicode(f0dd);
$fa-var-sort-numeric-down: unicode(f162);
$fa-var-sort-numeric-down-alt: unicode(f886);
$fa-var-sort-numeric-up: unicode(f163);
$fa-var-sort-numeric-up-alt: unicode(f887);
$fa-var-sort-up: unicode(f0de);
$fa-var-soundcloud: unicode(f1be);
$fa-var-sourcetree: unicode(f7d3);
$fa-var-spa: unicode(f5bb);
$fa-var-space-shuttle: unicode(f197);
$fa-var-speakap: unicode(f3f3);
$fa-var-speaker-deck: unicode(f83c);
$fa-var-spell-check: unicode(f891);
$fa-var-spider: unicode(f717);
$fa-var-spinner: unicode(f110);
$fa-var-splotch: unicode(f5bc);
$fa-var-spotify: unicode(f1bc);
$fa-var-spray-can: unicode(f5bd);
$fa-var-square: unicode(f0c8);
$fa-var-square-full: unicode(f45c);
$fa-var-square-root-alt: unicode(f698);
$fa-var-squarespace: unicode(f5be);
$fa-var-stack-exchange: unicode(f18d);
$fa-var-stack-overflow: unicode(f16c);
$fa-var-stackpath: unicode(f842);
$fa-var-stamp: unicode(f5bf);
$fa-var-star: unicode(f005);
$fa-var-star-and-crescent: unicode(f699);
$fa-var-star-half: unicode(f089);
$fa-var-star-half-alt: unicode(f5c0);
$fa-var-star-of-david: unicode(f69a);
$fa-var-star-of-life: unicode(f621);
$fa-var-staylinked: unicode(f3f5);
$fa-var-steam: unicode(f1b6);
$fa-var-steam-square: unicode(f1b7);
$fa-var-steam-symbol: unicode(f3f6);
$fa-var-step-backward: unicode(f048);
$fa-var-step-forward: unicode(f051);
$fa-var-stethoscope: unicode(f0f1);
$fa-var-sticker-mule: unicode(f3f7);
$fa-var-sticky-note: unicode(f249);
$fa-var-stop: unicode(f04d);
$fa-var-stop-circle: unicode(f28d);
$fa-var-stopwatch: unicode(f2f2);
$fa-var-stopwatch-20: \e06f;
$fa-var-store: unicode(f54e);
$fa-var-store-alt: unicode(f54f);
$fa-var-store-alt-slash: \e070;
$fa-var-store-slash: \e071;
$fa-var-strava: unicode(f428);
$fa-var-stream: unicode(f550);
$fa-var-street-view: unicode(f21d);
$fa-var-strikethrough: unicode(f0cc);
$fa-var-stripe: unicode(f429);
$fa-var-stripe-s: unicode(f42a);
$fa-var-stroopwafel: unicode(f551);
$fa-var-studiovinari: unicode(f3f8);
$fa-var-stumbleupon: unicode(f1a4);
$fa-var-stumbleupon-circle: unicode(f1a3);
$fa-var-subscript: unicode(f12c);
$fa-var-subway: unicode(f239);
$fa-var-suitcase: unicode(f0f2);
$fa-var-suitcase-rolling: unicode(f5c1);
$fa-var-sun: unicode(f185);
$fa-var-superpowers: unicode(f2dd);
$fa-var-superscript: unicode(f12b);
$fa-var-supple: unicode(f3f9);
$fa-var-surprise: unicode(f5c2);
$fa-var-suse: unicode(f7d6);
$fa-var-swatchbook: unicode(f5c3);
$fa-var-swift: unicode(f8e1);
$fa-var-swimmer: unicode(f5c4);
$fa-var-swimming-pool: unicode(f5c5);
$fa-var-symfony: unicode(f83d);
$fa-var-synagogue: unicode(f69b);
$fa-var-sync: unicode(f021);
$fa-var-sync-alt: unicode(f2f1);
$fa-var-syringe: unicode(f48e);
$fa-var-table: unicode(f0ce);
$fa-var-table-tennis: unicode(f45d);
$fa-var-tablet: unicode(f10a);
$fa-var-tablet-alt: unicode(f3fa);
$fa-var-tablets: unicode(f490);
$fa-var-tachometer-alt: unicode(f3fd);
$fa-var-tag: unicode(f02b);
$fa-var-tags: unicode(f02c);
$fa-var-tape: unicode(f4db);
$fa-var-tasks: unicode(f0ae);
$fa-var-taxi: unicode(f1ba);
$fa-var-teamspeak: unicode(f4f9);
$fa-var-teeth: unicode(f62e);
$fa-var-teeth-open: unicode(f62f);
$fa-var-telegram: unicode(f2c6);
$fa-var-telegram-plane: unicode(f3fe);
$fa-var-temperature-high: unicode(f769);
$fa-var-temperature-low: unicode(f76b);
$fa-var-tencent-weibo: unicode(f1d5);
$fa-var-tenge: unicode(f7d7);
$fa-var-terminal: unicode(f120);
$fa-var-text-height: unicode(f034);
$fa-var-text-width: unicode(f035);
$fa-var-th: unicode(f00a);
$fa-var-th-large: unicode(f009);
$fa-var-th-list: unicode(f00b);
$fa-var-the-red-yeti: unicode(f69d);
$fa-var-theater-masks: unicode(f630);
$fa-var-themeco: unicode(f5c6);
$fa-var-themeisle: unicode(f2b2);
$fa-var-thermometer: unicode(f491);
$fa-var-thermometer-empty: unicode(f2cb);
$fa-var-thermometer-full: unicode(f2c7);
$fa-var-thermometer-half: unicode(f2c9);
$fa-var-thermometer-quarter: unicode(f2ca);
$fa-var-thermometer-three-quarters: unicode(f2c8);
$fa-var-think-peaks: unicode(f731);
$fa-var-thumbs-down: unicode(f165);
$fa-var-thumbs-up: unicode(f164);
$fa-var-thumbtack: unicode(f08d);
$fa-var-ticket-alt: unicode(f3ff);
$fa-var-tiktok: \e07b;
$fa-var-times: unicode(f00d);
$fa-var-times-circle: unicode(f057);
$fa-var-tint: unicode(f043);
$fa-var-tint-slash: unicode(f5c7);
$fa-var-tired: unicode(f5c8);
$fa-var-toggle-off: unicode(f204);
$fa-var-toggle-on: unicode(f205);
$fa-var-toilet: unicode(f7d8);
$fa-var-toilet-paper: unicode(f71e);
$fa-var-toilet-paper-slash: \e072;
$fa-var-toolbox: unicode(f552);
$fa-var-tools: unicode(f7d9);
$fa-var-tooth: unicode(f5c9);
$fa-var-torah: unicode(f6a0);
$fa-var-torii-gate: unicode(f6a1);
$fa-var-tractor: unicode(f722);
$fa-var-trade-federation: unicode(f513);
$fa-var-trademark: unicode(f25c);
$fa-var-traffic-light: unicode(f637);
$fa-var-trailer: \e041;
$fa-var-train: unicode(f238);
$fa-var-tram: unicode(f7da);
$fa-var-transgender: unicode(f224);
$fa-var-transgender-alt: unicode(f225);
$fa-var-trash: unicode(f1f8);
$fa-var-trash-alt: unicode(f2ed);
$fa-var-trash-restore: unicode(f829);
$fa-var-trash-restore-alt: unicode(f82a);
$fa-var-tree: unicode(f1bb);
$fa-var-trello: unicode(f181);
$fa-var-trophy: unicode(f091);
$fa-var-truck: unicode(f0d1);
$fa-var-truck-loading: unicode(f4de);
$fa-var-truck-monster: unicode(f63b);
$fa-var-truck-moving: unicode(f4df);
$fa-var-truck-pickup: unicode(f63c);
$fa-var-tshirt: unicode(f553);
$fa-var-tty: unicode(f1e4);
$fa-var-tumblr: unicode(f173);
$fa-var-tumblr-square: unicode(f174);
$fa-var-tv: unicode(f26c);
$fa-var-twitch: unicode(f1e8);
$fa-var-twitter: unicode(f099);
$fa-var-twitter-square: unicode(f081);
$fa-var-typo3: unicode(f42b);
$fa-var-uber: unicode(f402);
$fa-var-ubuntu: unicode(f7df);
$fa-var-uikit: unicode(f403);
$fa-var-umbraco: unicode(f8e8);
$fa-var-umbrella: unicode(f0e9);
$fa-var-umbrella-beach: unicode(f5ca);
$fa-var-uncharted: \e084;
$fa-var-underline: unicode(f0cd);
$fa-var-undo: unicode(f0e2);
$fa-var-undo-alt: unicode(f2ea);
$fa-var-uniregistry: unicode(f404);
$fa-var-unity: \e049;
$fa-var-universal-access: unicode(f29a);
$fa-var-university: unicode(f19c);
$fa-var-unlink: unicode(f127);
$fa-var-unlock: unicode(f09c);
$fa-var-unlock-alt: unicode(f13e);
$fa-var-unsplash: \e07c;
$fa-var-untappd: unicode(f405);
$fa-var-upload: unicode(f093);
$fa-var-ups: unicode(f7e0);
$fa-var-usb: unicode(f287);
$fa-var-user: unicode(f007);
$fa-var-user-alt: unicode(f406);
$fa-var-user-alt-slash: unicode(f4fa);
$fa-var-user-astronaut: unicode(f4fb);
$fa-var-user-check: unicode(f4fc);
$fa-var-user-circle: unicode(f2bd);
$fa-var-user-clock: unicode(f4fd);
$fa-var-user-cog: unicode(f4fe);
$fa-var-user-edit: unicode(f4ff);
$fa-var-user-friends: unicode(f500);
$fa-var-user-graduate: unicode(f501);
$fa-var-user-injured: unicode(f728);
$fa-var-user-lock: unicode(f502);
$fa-var-user-md: unicode(f0f0);
$fa-var-user-minus: unicode(f503);
$fa-var-user-ninja: unicode(f504);
$fa-var-user-nurse: unicode(f82f);
$fa-var-user-plus: unicode(f234);
$fa-var-user-secret: unicode(f21b);
$fa-var-user-shield: unicode(f505);
$fa-var-user-slash: unicode(f506);
$fa-var-user-tag: unicode(f507);
$fa-var-user-tie: unicode(f508);
$fa-var-user-times: unicode(f235);
$fa-var-users: unicode(f0c0);
$fa-var-users-cog: unicode(f509);
$fa-var-users-slash: \e073;
$fa-var-usps: unicode(f7e1);
$fa-var-ussunnah: unicode(f407);
$fa-var-utensil-spoon: unicode(f2e5);
$fa-var-utensils: unicode(f2e7);
$fa-var-vaadin: unicode(f408);
$fa-var-vector-square: unicode(f5cb);
$fa-var-venus: unicode(f221);
$fa-var-venus-double: unicode(f226);
$fa-var-venus-mars: unicode(f228);
$fa-var-vest: \e085;
$fa-var-vest-patches: \e086;
$fa-var-viacoin: unicode(f237);
$fa-var-viadeo: unicode(f2a9);
$fa-var-viadeo-square: unicode(f2aa);
$fa-var-vial: unicode(f492);
$fa-var-vials: unicode(f493);
$fa-var-viber: unicode(f409);
$fa-var-video: unicode(f03d);
$fa-var-video-slash: unicode(f4e2);
$fa-var-vihara: unicode(f6a7);
$fa-var-vimeo: unicode(f40a);
$fa-var-vimeo-square: unicode(f194);
$fa-var-vimeo-v: unicode(f27d);
$fa-var-vine: unicode(f1ca);
$fa-var-virus: \e074;
$fa-var-virus-slash: \e075;
$fa-var-viruses: \e076;
$fa-var-vk: unicode(f189);
$fa-var-vnv: unicode(f40b);
$fa-var-voicemail: unicode(f897);
$fa-var-volleyball-ball: unicode(f45f);
$fa-var-volume-down: unicode(f027);
$fa-var-volume-mute: unicode(f6a9);
$fa-var-volume-off: unicode(f026);
$fa-var-volume-up: unicode(f028);
$fa-var-vote-yea: unicode(f772);
$fa-var-vr-cardboard: unicode(f729);
$fa-var-vuejs: unicode(f41f);
$fa-var-walking: unicode(f554);
$fa-var-wallet: unicode(f555);
$fa-var-warehouse: unicode(f494);
$fa-var-watchman-monitoring: \e087;
$fa-var-water: unicode(f773);
$fa-var-wave-square: unicode(f83e);
$fa-var-waze: unicode(f83f);
$fa-var-weebly: unicode(f5cc);
$fa-var-weibo: unicode(f18a);
$fa-var-weight: unicode(f496);
$fa-var-weight-hanging: unicode(f5cd);
$fa-var-weixin: unicode(f1d7);
$fa-var-whatsapp: unicode(f232);
$fa-var-whatsapp-square: unicode(f40c);
$fa-var-wheelchair: unicode(f193);
$fa-var-whmcs: unicode(f40d);
$fa-var-wifi: unicode(f1eb);
$fa-var-wikipedia-w: unicode(f266);
$fa-var-wind: unicode(f72e);
$fa-var-window-close: unicode(f410);
$fa-var-window-maximize: unicode(f2d0);
$fa-var-window-minimize: unicode(f2d1);
$fa-var-window-restore: unicode(f2d2);
$fa-var-windows: unicode(f17a);
$fa-var-wine-bottle: unicode(f72f);
$fa-var-wine-glass: unicode(f4e3);
$fa-var-wine-glass-alt: unicode(f5ce);
$fa-var-wix: unicode(f5cf);
$fa-var-wizards-of-the-coast: unicode(f730);
$fa-var-wodu: \e088;
$fa-var-wolf-pack-battalion: unicode(f514);
$fa-var-won-sign: unicode(f159);
$fa-var-wordpress: unicode(f19a);
$fa-var-wordpress-simple: unicode(f411);
$fa-var-wpbeginner: unicode(f297);
$fa-var-wpexplorer: unicode(f2de);
$fa-var-wpforms: unicode(f298);
$fa-var-wpressr: unicode(f3e4);
$fa-var-wrench: unicode(f0ad);
$fa-var-x-ray: unicode(f497);
$fa-var-xbox: unicode(f412);
$fa-var-xing: unicode(f168);
$fa-var-xing-square: unicode(f169);
$fa-var-y-combinator: unicode(f23b);
$fa-var-yahoo: unicode(f19e);
$fa-var-yammer: unicode(f840);
$fa-var-yandex: unicode(f413);
$fa-var-yandex-international: unicode(f414);
$fa-var-yarn: unicode(f7e3);
$fa-var-yelp: unicode(f1e9);
$fa-var-yen-sign: unicode(f157);
$fa-var-yin-yang: unicode(f6ad);
$fa-var-yoast: unicode(f2b1);
$fa-var-youtube: unicode(f167);
$fa-var-youtube-square: unicode(f431);
$fa-var-zhihu: unicode(f63f);
