{% extends "layout.html" %}
{% set title="About" %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
{% endblock %}

{% macro github_link(name) %}
	<a href="https://github.com/{{ name }}" class="github-link"><i class="fab fa-github"></i></a>
{% endmacro %}

{% macro docs_link(href) %}
	<a href="{{ href }}" class="docs-link"><i class="fas fa-book"></i></a>
{% endmacro %}


{% block content %}
	{{ body|safe }}

	<br>
	<h2>Cookies</h2>
	<h5>These are the only cookies you'll find on this site.</h5>

	<figure>
		<picture>
			<source type="image/avif" srcset="/static/img/cookies.avif">
			<source type="image/webp" srcset="/static/img/cookies.webp">
			<img class="cookies img-fluid" src="/static/img/cookies.jpg" alt="pile of chocolate cookies">
		</picture>
		<figcaption>
			<a href="https://unsplash.com/photos/04yMqTmUeHQ">Original image</a>
			by <a href="https://unsplash.com/@ellienelie">Ellieelien</a>
			on <a href="https://unsplash.com">Unsplash</a>
		</figcaption>
	</figure>

{% endblock content %}
