{% set badge_data = [] %}

{% for filename, requirements, invalid, counts in data %}
	{% set dependencies = list(get_dependency_status(requirements)) %}
	{% set anchor_id = normalize(filename) %}

	<section id="{{ filename }}-button" class="dependency-table-header  text-center">
		<button
				class="btn text-center"
				type="button"
				data-toggle="collapse"
				data-target="#{{ anchor_id }}"
				aria-expanded="true"
				aria-controls="{{ anchor_id }}"
		>
			<i class="fa collapse-indicator"></i>
			{% if counts %}
				{{ badge_data.extend(dependencies) or '' }}
				<i class="fas fa-lightbulb" title="This file counts towards the overall status"></i>
			{% else %}
				<i class="far fa-lightbulb" title="This file doesn't count towards the overall status"></i>
			{% endif %}
			<h5>{{ filename }}</h5>
		</button>
	</section>

	<div class="collapse show" id="{{ anchor_id }}">
		<table class="table table-striped table-sm collapse show">
			<thead>
			<tr>
				<th scope="col">Package</th>
				<th scope="col" class="text-right">Requirement</th>
				<th scope="col" class="text-right">Latest</th>
				<th scope="col" class="text-center">Status</th>
			</tr>
			</thead>
			<tbody>
			{% for req, status, data in dependencies %}
				<tr class="dependency">
					<td>
						<div class="d-flex flex-row align-items-center flex-wrap">
							<div class="p-2">
								<a href="{{ data["package_url"] }}" title="View on PyPI">{{ req.name }}</a>
							</div>
							<div class="p-2 ml-auto pkg-links">
								{{ format_project_links(data["project_urls"])|safe }}
								{%- if data["license"].strip() -%}
									<a
											class="license-info-hover-target"
											href="#"
											data-toggle="tooltip"
											data-placement="top"
											title="{{ data["license"] }}"
									><i class="far fa-file-alt"></i></a>
								{%- endif -%}
							</div>
						</div>
					</td>
					<td class="text-right">{{ req.specifier }}</td>
					<td class="text-right">{{ data["version"] }}</td>
					<td class="status-{{ status }}">{{ status }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<script>
				if (window.matchMedia("(any-hover: none)").matches) {
				  $('document').ready(function () {
				    $('[data-toggle=tooltip]').tooltip();
				  });
				}
		</script>
		</table>
	</div>
{% endfor %}

<div class="p-2 ml-auto" id="badge" hx-swap-oob="true">
	<a title="Show badge URLs" data-toggle="collapse" href="#badge-urls" >
		{{ make_badge(badge_data)|safe }}
	</a>
</div>
