{% extends "search.html" %}
{% set description = "dependency-dash is a completely Open Source dashboard for viewing the dependency status of a Python package or GitHub repository." %}

{% block blurb %}
	<h1>dependency-dash</h1>
	<p>
		<code>dependency-dash</code> is a completely Open Source dashboard for viewing
		the dependency status of a Python package or GitHub repository.
	</p>
	<p class="goto-label">To get started, type a repository or package name below:</p>
{% endblock blurb %}

{% block tips %}
	<div class="alert alert-info">
		<h6>Search Tips</h6>
		<ul>
			<li>
				<code>pypi:shrubbery</code> searches for a PyPI package called <code>shrubbery</code>
			</li>
			<li>
				<code>github:octocat</code> searches for a GitHub user or org called <code>octocat</code>
			</li>
			<li>
				<code>github:octocat/hello-world</code> searches for the GitHub repository <code>hello-world</code> owned by the user <code>octocat</code>
			</li>
			<li>
				<code>octocat/hello-world</code> has the same effect as <code>github:octocat/hello-world</code>
			</li>
		</ul>
	</div>

{% endblock tips %}
