{% extends "layout.html" %}
{% set title = project_name %}
{% set owner, repo_name = project_name.split("/", 1) %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
{% endblock %}

{% block content %}
	<div class="d-flex flex-row align-items-baseline flex-wrap">
		<div class="p-2">
{#			<h3 class="project-name">{{ project_name }}</h3>#}
			<h3 class="project-name">
				<a href="/github/{{ owner }}">{{ owner }}</a>/<a href="#">{{ repo_name }}</a>
			</h3>
		</div>
		<div class="p-2 repo-link">
			<a href="https://github.com/{{ project_name }}" title="View on GitHub" class="repo-link">
				<i class="fab fa-github"></i>
			</a>
		</div>
		<div class="p-2 ml-auto" id="badge"></div>
	</div>

	<div class="collapse badge-urls" id="badge-urls">
		<div class="card card-body">
			<div ng-show="displayBadge">

				{% from "_clipboard_helper.html" import clipboard_for %}
				{{ clipboard_for("badge-rst") }}
				<p>reStructuredText:</p>
				<pre id="badge-rst">.. image:: {{ root_url }}/github/{{ project_name }}/badge.svg
    :target: {{ root_url }}/github/{{ project_name }}
    :alt: Requirements Status</pre>

				{{ clipboard_for("badge-md") }}
				<p>Markdown:</p>
				<pre id="badge-md">[![Requirements Status]({{ root_url }}/github/{{ project_name }}/badge.svg)]({{ root_url }}/github/{{ project_name }})</pre>

				{{ clipboard_for("badge-html") }}
				<p>HTML:</p>
				<pre id="badge-html">&lt;a href="{{ root_url }}/github/{{ project_name }}"&gt;&lt;img src="{{ root_url }}/github/{{ project_name }}/badge.svg" alt="Requirements Status" /&gt;&lt;/a&gt;</pre>

			</div>
  	</div>
	</div>

	<div class="dependency-table table-responsive" hx-get="{{ data_url }}" hx-trigger="revealed" hx-swap="innerHTML">
		<table class="table table-sm"></table>
		<img class="htmx-indicator centered" width="60" src="/static/img/bars.svg">
	</div>
{% endblock content %}

{% block scripts %}
	{{ super() }}
	<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
	<script>new ClipboardJS('.badge-urls .btn');</script>
{% endblock %}
