{% extends "fontawesome.html" %}
{% set title = project_name %}

{% block content %}
	<div class="d-flex flex-row align-items-baseline flex-wrap">
		<div class="p-2">
			<h3 class="project-name">
				<a href="#">{{ project_name }}</a>
			</h3>
		</div>
		<div class="p-2 repo-link">
			<a href="https://pypi.org/project/{{ project_name }}" title="View on PyPI" class="repo-link">
				<i class="fab fa-python"></i>
			</a>
		</div>
		<div class="p-2 ml-auto" id="badge"></div>
	</div>

	<p>Package not found.</p>
{% endblock content %}
